@page "/counter"
@using System.Diagnostics

<h1>Mouse events counter</h1>
<div>
    Over: @pointerOver / Out: @pointerOut / Render: @render
</div>

<div class="grid"
     @onpointerover="()=>{pointerOver++;sw.Restart();}"
     @onpointerout="()=>{pointerOut++;sw.Restart();}">
    <StopwatchStop Name="Top" Stopwatch="@sw"></StopwatchStop>
    @for (int i = 0; i < 2000; i++)
    {
        Param x = new();
        x.i = i;
        <MouseCounter @key="@i" CounterId="@x"></MouseCounter>
    }
    <StopwatchStop Name="Bottom" Stopwatch="@sw"></StopwatchStop>
</div>
<StopwatchStop Name="EndOfPage" Stopwatch="@sw"></StopwatchStop>

@code {
    private int pointerOver;
    private int pointerOut;
    private int render;
    Stopwatch sw = new();
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        render++;
        Console.WriteLine($"Top Level - {sw.Elapsed}");
    }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        sw.Restart();
    }
}
